/* CrearNoticia.css */

/* Contenedor principal para centrar el formulario */
.crear-noticia-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Ajusta la altura mínima del contenedor */
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  /* Contenedor del formulario */
  .crear-noticia-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Título del formulario */
  .crear-noticia-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  
  /* Estilo del formulario */
  .crear-noticia-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Grupo de formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Etiquetas del formulario */
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #666;
  }
  
  /* Estilo de los campos de entrada */
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
  }
  
  /* Estilo adicional para el textarea */
  textarea {
    height: 120px;
    resize: vertical;
  }
  
  /* Efecto hover y focus en campos de entrada */
  input[type="text"]:focus,
  input[type="date"]:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Estilo del botón de envío */
  .submit-button {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Efecto hover en el botón */
  .submit-button:hover {
    background-color: #0056b3;
  }
  