/* MainLayout.css */
.main-menu {
  padding: 40px;
  background-color: #f4f6f9; /* Fondo claro */
}

.menu-title {
  text-align: center;
  font-size: 2.5rem;
  color: #003366; /* Azul oscuro */
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Elevar ligeramente la tarjeta al pasar el mouse */
}

.card h2 {
  color: #003366;
  margin-bottom: 15px;
}

.card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.card-button {
  background-color: #003366;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #005bb5; /* Color más claro al pasar el mouse */
}
